.catalogue {
    margin-top: 80px;
}

.catalogue__info {
    margin-bottom: 39px;
}

.catalogue__header {
    font-weight: 400;
}

.catalogue-info__par {
    line-height: 32px;
    margin-top: 16px;
    padding-right: 523px;
}

.lang-list__btn {
    width: 46px;
    min-height: 46px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    position: relative;
    transition: filter 0.2s ease-in-out;
}

.lang-list__btn::after {
    content: '';
    width: 66px;
    height: 66px;
    position: absolute;
    top: -22%;
    left: -20%;
    border: 2px solid var(--purple);
    border-radius: 100%;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.lang-list {
    margin-left: 44px;
    padding-top: 12px;
}

.lang-list__btn-active::after {
    opacity: 1;
}

.french {
    background-image: url('../images/france-icon.svg');
}

.german {
    background-image: url('../images/germany-icon.svg');
}

.italian {
    background-image: url('../images/italy-icon.svg');
}

.russian {
    background-image: url('../images/russia-icon.svg');
}

.belgian {
    background-image: url('../images/belgium-icon.svg');
}

.lang-list__item {
    margin-left: 50px;
}

.lang-list__item:first-child {
    margin-left: 0;
}

.catalogue-biography {
    display: none;
}

.catalogue-biography-active {
    display: inline-block;
}

.bio-article {
    font-weight: normal;
    margin-top: 20px;
}

.bio-article__header {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.bio-article__date {
    font-size: 12px;
    color: #999999;
}

.bio-article__par {
    line-height: 32px;
    max-width: 750px;
}

.catalogue-list {
    width: 50%;
    margin-left: auto;
    display: flex;
    order: 2;
}

.catalogue-accordion {
    border: none;
    border-bottom: 1px solid #CACACA;
    background-color: transparent;
    width: 100%;
    padding: 44px 0px 45.5px 0px;
    position: relative;
    transition: border-color 0.2s ease-in-out;
}

.catalogue-icon {
    width: 50px;
    height: 50px;
    background-color: #ECECEC;
    padding: 14px;
    border: 3px solid #ECECEC;
    border-radius: 100%;
    transition-property: background-color, border-color;
    transition: 0.2s ease-in-out;
    display: inline-block;
    position: absolute;
    right: -2px;
    top: 34px;
}

.arrow {
    transition-property: stroke;
    transition: 0.2s ease-in-out;
}

.ui-state-active > .catalogue-icon {
    transform: rotate(180deg);
    padding-top: 18px;
}

.catalogue-list__item:first-child .catalogue-accordion {
    border-top: 1px solid #CACACA;
}

.catalogue-accordion__txt {
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
    text-align: left;
    justify-content: flex-start;
}

.catalogue-list__item:nth-child(n) .ui-state-active {
    border-bottom-color: var(--purple);
}

.catalogue-accordion__list {
    columns: 3;
    padding-top: 25px;
    padding-bottom: 28px;
    border-bottom: 1px solid var(--purple);
}

.catalogue-accordion__li {
    width: 200px;
}

.catalogue-acardion__link {
    background-color: transparent;
    border: none;
}

.catalogue-acardion__link-active {
    outline: 1px solid var(--purple);
}
